
.splash-nav {
    width: 90%;
    margin: 20px auto; 
    height: 12.5%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
   
}

.left-nav {
    letter-spacing: 2px;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.search-bar-input {
    height:50px;
    width:400px; 
    border: 1px solid #ebebeb; 

    color: #555555;
    border-radius: 2px;
    font-size: 16px;
    line-height: 1.42;
    background-color: #fff;
    margin-left:30px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif
}

.search-bar-input input {
    margin-left:10px;
}


.search-bar-icon-nav {
    font-size: 16px;
    color: black;
    float: left;
    margin: auto 0;
    margin-left:10px;
}

.right-nav {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    list-style: none;
    align-items: center;
}

.profile-links {
    display: flex;
    justify-content: space-evenly;
}

.profile-links li {
    border-bottom: 1px solid white;
    margin-right:30px;
    padding-bottom: 5px;
}

.profile-links li:hover {
    border-bottom: 2px solid #40d9ac;
}


.session-links {
    display: flex;
    justify-content: space-evenly;
}

.session-links li {
    
    margin-right: 30px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

.session-links li:hover {
    border-bottom: 2px solid #40d9ac;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:40px;
    left: -150px;
    z-index: 1;
    background: white;
    margin: 0 auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 16px;

    width: 180px;
    padding: 25px;

}

.dropdown-content li {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 15px;
    color: black;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}

.dropdown-content li:last-of-type {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 0;
    color: black;
    cursor: pointer;
    border-bottom: none;
    margin-bottom: 0;
}

.dropdown-content a {
    display: block;

}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a:hover, .dropdown-content button:hover {
    transform: translateX(15px);
    transition: transform 0.25s ease-out;
    font-weight: bold;
}

.dropdown img {
    
    display: block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding-bottom: 10px;
  
}





