.spot-review-container {
    display: flex;
    padding: 15px 20px;
    flex-direction: column;
    min-height: 200px;
}

.spot-review-header {
    display: flex;
    width: 100%;
    align-items: center
}

.spot-review-header > h3 {
    font-size: 16px;
}

.spot-review-header button {
    border: 3px solid #40d9ac;
    height: 30px;
    width: 140px;
    min-width: 140px;
    background: #40d9ac;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    
}

.spot-review-header button:hover {
    transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
    background: #fff;
    color: #40d9ac

}

.review-list-item-container {
    padding: 15px 20px;
    border-bottom: 1px solid #ebebeb;
}

.review-list-item {
    padding: 20px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.review-detail {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#review-name {
    font-size: 15px;
    font-weight: 700;
}

#review-date {
    font-size: 14px;
    font-weight: 500;
    color: gray
}

#review-body {
    font-size: 14px;
    line-height: 1.42;
    color: #333333;
    font-weight: 400;
    margin: 0 0 11px;
}

.review-links {
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #757575;
    font-size: 14px;
    font-weight:500;  
}

.review-links a {
    cursor: pointer;
    margin-right: 20px;
    border-bottom: 1px solid #ebebeb 
}

.review-links a:hover {
    border-bottom: 1px solid #40d9ac;
    font-weight: bold;   
}

.review-links button {
    cursor: pointer;
    border-bottom: 1px solid #ebebeb 
}

.review-links button:hover {
    border-bottom: 1px solid #39C39A;
    font-weight: bold;   
}

.review-form-container {
    width: 60%;
    margin: 0 auto;
    margin-top:80px;
    font-family: Arial, Helvetica, sans-serif
}

.review-form-container > h2 {
    font-size: 32px;
    text-align: center;
    padding: 10px;
    font-weight: 700;
}

.review-form {
    margin: 0 auto;
    width: 80%;
    padding-top:20px;
    display: flex;
    flex-direction: column;
}


.review-form textarea{
    padding:20px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.review-btn {
    margin: 20px auto;
    width: 30%;
    border: 3px solid #40d9ac;
    border-radius: 5px;

    background: #40d9ac;
    color: #fff;
    font-weight: 700;
    cursor: pointer;

    text-align: center;
    font-size: 16px;
    // justify-content: center;
}



.review-btn:hover {

    background: #fff;
    color: #40d9ac
} ;

.reviews-errors-messages {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}
   

.review-detail-img img {
    border-radius: 50%;
    width:60px;
    height: 60px;
}
.review-detail-img {
    float:left;
}

.review-btn > button {
    padding: 15px 10px
}


