.splash-main {
    height: 67.5%;
    background: white;
    margin: 0 auto;
    width: 70%;
    box-sizing: border-box;
}

.splash-title {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:700;
    letter-spacing: 1px;
    padding-bottom: 20px; 
    margin-top: 100px;
}

.splash-subtitle1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    width: 40%;
    line-height: 1.5;

}

.splash-subtitle1 > strong {
    font-weight: bold;
}

.splash-search-container {
    width: 95%;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
    margin: 10px 0px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.search-bar-icon {
    font-size: 25px;
    color: black;
    float: left;
    font-weight: 700;
    margin: auto 15px;

}

.geo-input {
    margin: auto 0;
    height:70%;
    width:60%; 
    border: 1px solid #ebebeb; 
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    color: #555555;
    border-radius: 2px;
    font-size: 16px;
    line-height: 1.42;
    background-color: #fff;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:10px;
    margin-right:10px;
}

.date-input {
    display:flex;
    justify-content: flex-start;
    height:70%;
    width:20%; 
    border: 1px solid #ebebeb; 
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    color: #555555;
    border-radius: 2px;
    line-height: 1.42;
    background-color: #fff;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;
    font-size: 18px;

    font-family: Arial, Helvetica, sans-serif
}


.date-input:hover {
    background-color: #f3fbfb;
    border: 1px solid #3cc69e;
    color: #40d9ac;
}

.date-search-icon {
    font-size: 25px;
    color: black;
    float: left;
    font-weight: 700;
    padding: 25px 15px;
}


.splash-search-btn {
    display: flex;
 
    width:15%;
    height:70%;
    background-color: #40d9ac;
    border: 3px solid #40d9ac;
    color: #fff;
    
    cursor: pointer;
    border-radius: 2px;
    font-size: 16px;
    line-height: 1.42;
    margin-right:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;

    display:inline-block;
    text-align: center;
    
}

.splash-search-btn:hover {
    background: #fff;
    color: #40d9ac

}

.splash-subtitle2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 0px;

} 

.splash-spots-section {
    width: 97%;
    margin: auto 0;
    overflow: auto;
}


.splash-spot {
    height: 300px;
    width: 31%;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    float: left;
    margin: 0px 8px 30px 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 4px 4px 0 0;

}

.spot-image {
    width: 100%;
    display: block;
    height: 70%;

}

.spot-image > img {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
}

.spot-details {
    padding-left:10px; 
    font-family: 'Open Sans', sans-serif;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.spot-details > h3 {
    font-size: 17px;
    margin: 0px;
}

.spot-details > p {
    font-size: 15px;
    color: grey;
    
}

.spash-search-btn > a {
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px;
}

#geosearch-input {
    width: 90%;
    font-size: 18px;

}




